@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF5E6;
}

.arcoiris{
    font-family: Roboto;
    font-size: 160px;
    font-weight: 900;
    color: #FBBD3B;
    transform: rotate(180deg);
    position: absolute;
}

.row-1 :nth-of-type(2){
    color: #D54C38;
    position: relative;
    right: 70px;

}

.row-1 :nth-of-type(1){
    color: #ECB3AE;
    position: relative;
    left: 24px;
}

h1{
    font-family: Roboto;
    font-size: 160px;
    font-weight: 900;
    color: #2A5F8B;

}

h1:nth-of-type(2){
    -webkit-text-stroke: 3px #2A5F8B;
    color: #FFF5E6;
    position: relative;
}

h2 {
    font-size: 160px;
    -webkit-text-stroke: 3px #FBBD3B;
    color: #FFF5E6;
    font-family: Roboto;
    font-weight: 900;
}