@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: #FFF5E6;
}

.nav-item{ text-decoration-style: none; color: black;}
.arcoiris{position: relative; height: 30vh; left: 40%;}
.arcoiris p{ font-family: Roboto; font-size: 200px; font-weight: 900; transform: rotate(180deg);}
.arcoiris p:nth-of-type(1) {position: absolute; color: #ECB3AE; left: 10px;}
.arcoiris p:nth-of-type(2) {position: absolute; color: #FBBD3B; left: 20px; }
.arcoiris p:nth-of-type(3) {position: absolute; color: #D54C38; left: 35px; }

.titulo{position: relative; left: 60px}
.titulo h1{ font-family: Roboto; font-size: 160px; font-weight: 900; color: #2A5F8B; -webkit-text-stroke: 2px #2A5F8B; position: relative;}
.titulo h1:nth-of-type(1) {color: #FFF5E6; left: 10px; font-size: 160px; font-weight: 900; position: absolute;}

h2 {font-size: 160px; -webkit-text-stroke: 3px #FBBD3B; color: #FFF5E6; font-family: Roboto; font-weight: 900;} 

.nav-link:hover { font-weight: bold;}

h3{ color: #D54C38; font-family: Roboto; font-weight: 300; font-size: 36px;} 
h4{ color:black; font-family: Roboto; font-size: 24px; font-weight: 300;}

@media(max-width:576px){
    body{font-size: 60%;}
}